* {
    margin: 0px;
    padding: 0px;
}
body{
    background: #365769;
    color: #e9a1a1;
}
#contenedor{
    width: 1161px;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
}
header{
    height: 110px;
    background: #000;
}
header h1{
    font-size: 50px;
    text-align: center;
    line-height: 120px;
    margin-top: 10px;
}
nav{
    background: yellow;
    height: 60px;
}
nav h2{
    font-size: 22px;
    text-align: center;
    line-height: 60px;
    color: black;
    }
nav u{
    color: rgb(73, 73, 250);
}
#contenido{
    width: 800px;
    height: 400px;
    float: left;
    background: #fff;
}
#contenido p{
    font-size: 20px;
    text-align: justify;
    line-height: 20px;
    color: #000;
    margin-top: 150px;
    margin-left: 05px;
    margin-right: 05px;
}
aside{
    width: 250px;
    height: 400px;
    background: rgb(80, 228, 80);
    float: right;
    width: 360px;
}
aside h2{
    font-size: 35px;
    text-align: left;
    line-height: 150px;
    color: #000;
    margin-top: 20px;
    margin-left: 10px;
}
aside p{
    font-size: 23px;
    text-align: justify;
    line-height: 24px;
    color: #000;
    margin-left: 10px;
    margin-right: 10px;

}
footer{
    background: #000;
    clear: both;
    height: 50px;
}
footer p{
    font-size: 20px;
    text-align: center;
    padding: 20px;
    font-style: italic;
}

