* {
    margin: 0px;
    padding: 0px;
}
body{
    background: #365769;
    color: #e9a1a1;
}
#contenedor{
    width: 1161px;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
}
header{
    height: 110px;
    background: #000;
}
header h1{
    font-size: 50px;
    text-align: center;
    line-height: 120px;
    margin-top: 10px;
}
nav{
    background: yellow;
    height: 60px;
}
nav h2{
    font-size: 22px;
    text-align: center;
    line-height: 60px;
    color: black;
    }
nav u{
    color: rgb(73, 73, 250);
}

